@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400|Nunito:300,400|Montserrat');
 
  
/*	NAVBAR	*/
html, body{
    
    font-family: 'Nunito', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    font-weight: 400;
}
.navbar-default {
	background-color:#000;
	border-color:transparent;
	margin-bottom:0;
	height:auto;
	border-radius: 0px !important;
}
#navbar{
	position: relative;
}
.navbar .container {
	position:relative;
}
.navbar-right {
	margin-top:70px;
	text-transform:uppercase;
	font-size:15px;
	margin-bottom: 35px;
}
.navbar-default .navbar-nav > li > a {
	color:#ffffff;
	outline:0;
}
.navbar-default .navbar-nav > li > a:last-of-type{
	padding-right: 0px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
	color:#f38331;
}
.navbar-upper {
	position:absolute;
	right:0;
	text-transform:uppercase;
	font-size:13px;
	margin-top:25px;
}
.logo_menu{
	width: 100%;
	max-width: 175px;
}
.navbar .fa-inverse {
    color: #000;
}
.navbar li:hover .fa-stack .fa-inverse {
    color: #fff;
}
.navbar-upper li a {
    padding: 12px 5px;
}
.navbar-brand{
	z-index: 999;
	height: auto;
	position: relative;
}



/*	FOOTER	*/
.footer{
	background-color: #000;
	color: #fff;
	padding: 50px 0px;
}
.img-footer{
	width: 100%;
	max-width: 100px;
	margin-bottom: 30px;
}
.footer .enlaces a{
	display: block;
}
.footer .title{
	font-weight: bold;
	font-size: 23px;
	color: #f58220;
}
.footer .subtitle{
	font-weight: bold;
}
.footer a{
	color: #fff;
}
.footer a .fa-inverse{
	color: #000 !important;
}
.footer a .fa-circle{
	
}




/*	UTILIDADES	*/
.titulo{
	color: #F58220;
	text-transform: uppercase;
	font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
}
.subtitulo{
	color: #F58220;
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'Josefin Sans', sans-serif;
}
.no_underline{
	text-decoration: none !important;
}
.seccion{
	padding: 100px 0px;	
}
.seccion.gris{
	background-color: #efefef;
}
.modal-title{
	color: #F58220;
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	margin-top: 8px;
}


/*	SECCIONES LANDING	*/

.banner img{
	width: 100%;
}
.intro{
	padding: 100px 0px;
	
}
.intro .container{
	position: relative;
	z-index: 10;
}
.intro .bg img{
	width: 100%;
	position: relative;
	z-index: 9;
	margin-top: -20%;
}
@media(max-width: 767px){
	#navbar{
		text-align: center;
	}
	.intro .bg img{
		margin-top: 0px;
	}
	.logo_menu {
	    max-width: 80px;
	}
	.navbar-toggle{
		margin-top: 24px;
	}
	.navbar-upper {
	    position: relative;
	    margin-top: 0;
	}
	.navbar-upper  li {
	    display: inline-block;
	}
	.navbar-right {
    	margin-top: 0px;
   	} 
	
}




.directivo{
	padding: 50px 0px;
}
	.directivo .directivo-elemento{
		margin-bottom: 35px;
	}
	.directivo .directivo-elemento img.dir{
		width: 100%;
	}
	.directivo .directivo-elemento .photo-title{
		color: #F58220;
		text-transform: uppercase;
		font-size: 21px;
		font-family: 'Josefin Sans', sans-serif;
		text-align: center;
		margin-top: 22px;
		margin-bottom: 9px;
	}
	.directivo .directivo-elemento p{
		text-align: center;
	}
