.btn{
	padding: 12px 20px;
}

.btn.btn-round{
	border-radius: 30px;
}

.btn.btn-fab.btn-round, .btn.btn-just-icon.btn-round{
	border-radius: 50%;
}

.form-control, .is-focused .form-control{
	background-image: linear-gradient(to top, #f58220 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.form-control:-moz-read-only{
	background-image: linear-gradient(to top, #f58220 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.is-focused [class^="bmd-label"], .is-focused [class*=" bmd-label"]{
	color: #f58220;
}


.sidebar[data-background-color="black"]{
	background-color: #191919;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active{
	box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(245, 130, 32);

	background-color: #f58220;
}

/* PAGINACIÓN */
div.paginacion ul{
	display: block ;
}

div.paginacion li{
	display: inline-block;
}

.pagination li.active span, .pagination li.active span:focus, .pagination li.active span:hover{
	background-color: #f58220;
	border-color: #f58220;
	color: #fff;
}

.pagination li.active span{
	color: #fff;
	box-shadow: 0 2px 2px hsla(38,16%,76%,.5);
}

.pagination li a, .pagination li span{
	text-decoration: none;
	border: 0;
	border-radius: 30px !important;
	transition: all .3s;
	padding: 0 11px;
	margin: 0 3px;
	min-width: 30px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: #2c2c2c;
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
	background: transparent;
    background-color: transparent;
	outline: none;
	
	position: relative;
	display: block;
	padding: .5rem .75rem;
	margin-left: -1px;
	line-height: 0.7;
	color: #2c2c2c;
	background-color: #fff;
}

.pagination li a:focus, .pagination li a:hover{
	color: #2c2c2c;
	background-color: hsla(0,0%,87%,.3);
	border: none;
}

/* TERMINA PAGINACIÓN */

/* INICIA SELECT2*/

.select2-container--default.select2-container--focus .select2-selection--multiple{
	border-top: 0px solid transparent !important;
	border-left:  0px solid transparent !important;
	border-right:  0px solid transparent !important;
	border-bottom: 1px solid #f58220 !important;
}

.select2-container--default .select2-selection--multiple{
	border-top:  0px solid transparent !important;
	border-left:  0px solid transparent !important;
	border-right:  0px solid transparent !important;
	border-bottom: 1px solid #d2d2d2 !important;
	border-radius: 0px !important;
	margin-top: -8px;
}


/* TERMINA SELECT2*/